---
eleventyNavigation:
  key: Рекорди
  order: 2
lang: ua
---

<h1>Рекорди</h1>

<ul class="categories">
	<li><a href="cadets/">Кадети</a></li>
	<li><a href="juniors/">Юніори</a></li>
	<li><a href="overallrecords/">Загальні рекорди</a></li>
	<li><a href="50+/">50+</a></li>
</ul>

