
{# Просто неба #}

<h2>Індивідуальні</h2>

{% renderFile './content/records/records_personal_men_outdoor_50+.docx' %}

<h2>Командні</h2>

{% renderFile './content/records/records_team_men_50+.docx' %}