---
title: Mężczyźni
translationKey: men-overall
layout: layouts/record.njk
eleventyNavigation:
  key: Mężczyźni - rekordy ogólne
  parent: Rekordy ogólne
---

{% set category = "men" %}
{% set format = "indoor" %}
{% include "partials/records.njk" %}
