---
title: Women
translationKey: women-50-plus
layout: layouts/record.njk
eleventyNavigation:
  key: Women 50+
  parent: Masters
---
{% set category = "masters50" %}
{% set format = "indoor" %}
{% include "partials/records.njk" %}