---
title: Жінки
translationKey: women-50-plus
layout: layouts/record.njk
eleventyNavigation:
  key: Жінки 50+
  parent: 50+
---



{% set category = "women" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}