---
title: Жінки
translationKey: women-overall
eleventyNavigation:
  key: Жінки загальні рекорди
  parent: Загальні рекорди
---

{% set category = "women" %}
{% set format = "indoor" %}
{% include "partials/records.njk" %}