---
title: Mixed teams
translationKey: mixed-50-plus
layout: layouts/record.njk
eleventyNavigation:
  key: Mixed teams 50+
  parent: Masters
---

{% set category = "mixed" %}
{% set format = "outdoor" %}
{% set team = true %}
{% include "partials/records.njk" %}
