---js
const eleventyNavigation = {
	key: "Рекорди",
	order: 1
};

const numberOfLatestPostsToShow = 100;
---

<h1>Рекорди</h1>

<ul class="categories">
	<li><a href="cadets">Кадети</a></li>
	<li><a href="juniors">Юніори</a></li>
	<li><a href="overallrecords">Загальні рекорди</a></li>
	<li><a href="50+">50+</a></li>
</ul>




{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>


{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %} #}

{# {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %} #}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
