---
title: Women
translationKey: women-50-plus
layout: layouts/record.njk
eleventyNavigation:
  key: Women 50+
  parent: Masters
---

{% set category = "women" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}
