---
title: Змішані команди
translationKey: mixed-overall
layout: layouts/record.njk
eleventyNavigation:
  key: Змішані команди загальні рекорди
  parent: Загальні рекорди
---
{% set category = "mixed" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}