---
title: Змішані команди
translationKey: mixed-overall
eleventyNavigation:
  key: Змішані команди загальні рекорди
  parent: Загальні рекорди
---

{% set category = "mixed" %}
{% set format = "indoor" %}
{% include "partials/records.njk" %}