---
title: Mixed teams
translationKey: mixed-overall
layout: layouts/record.njk
eleventyNavigation:
  key: Mixed teams overall records
  parent: Overall records
---
{% set category = "mixed" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}