---
title: Drużyny mieszane
translationKey: mixed-50-plus
layout: layouts/record.njk
eleventyNavigation:
  key: Drużyny mieszane 50+
  parent: 50+
---

{% set category = "mixed" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}
