---
title: Drużyny mieszane
translationKey: mixed-overall
layout: layouts/record.njk
eleventyNavigation:
  key: Drużyny mieszane - rekordy ogólne
  parent: Rekordy ogólne
---

{% set category = "mixed" %}
{% set format = "indoor" %}
{% set team = true %}
{% include "partials/records.njk" %}
