---
title: Чоловіки
translationKey: men-50-plus
eleventyNavigation:
  key: Чоловіки 50+
  parent: 50+
---

{% set category = "masters50" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}