---
title: Men
translationKey: men-50-plus
layout: layouts/record.njk
eleventyNavigation:
  key: Men 50+
  parent: Masters
---

{% set category = "masters50" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}
