---
title: Mixed teams
translationKey: mixed-50-plus
layout: layouts/record.njk
eleventyNavigation:
  key: Mixed teams 50+
  parent: Masters
---
{% set category = "masters50" %}
{% set format = "indoor" %}
{% include "partials/records.njk" %}