---
lang: en
eleventyNavigation:
  key: Records
  order: 1
---

<h1>Records</h1>

<ul class="categories">
	<li><a href="cadets">Cadets</a></li>
	<li><a href="juniors">Juniors</a></li>
	<li><a href="overallrecords">Overall records</a></li>
	<li><a href="50+">Masters</a></li>
</ul>