---
title: Kobiety
translationKey: women-50-plus
layout: layouts/record.njk
eleventyNavigation:
  key: Kobiety 50+
  parent: 50+
---
{% set category = "masters50" %}
{% set format = "indoor" %}
{% include "partials/records.njk" %}