---
layout: layouts/base.njk
---

{% if eleventyNavigation %}
  {% set currentLang = lang or page.lang or "ua" %}
  {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
  <ul class="breadcrumbs">
    {% for item in breadcrumbs %}
      {% if item.url.indexOf("/" + currentLang + "/") == 0 %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li>{{ title }}</li>
  </ul>
{% endif %}


{{ content | safe }}
