---
layout: layouts/base.njk
---

{% if eleventyNavigation %}
  {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
  <ul class="breadcrumbs">
    {% for item in breadcrumbs %}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    <li>{{ title }}</li>
  </ul>
{% endif %}


{{ content | safe }}
