---
title: Men
translationKey: men-overall
layout: layouts/record.njk
eleventyNavigation:
  key: Men's overall records
  parent: Overall records
---
{% set category = "men" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}