---
title: Чоловіки
translationKey: men-overall
layout: layouts/record.njk
eleventyNavigation:
  key: Чоловіки загальні рекорди
  parent: Загальні рекорди
---
{% set category = "men" %}
{% set format = "outdoor" %}
{% include "partials/records.njk" %}