---
title: 50+
translationKey: masters-50-plus
eleventyNavigation:
  key: 50+
  parent: Rekordy
---

<ul class="categories">
	<li><a href="../men/50+/">Mężczyźni</a></li>
	<li><a href="../women/50+/">Kobiety</a></li>
	<li><a href="../mixed/50+/">Drużyny mieszane</a></li>
</ul>
