---
lang: pl
eleventyNavigation:
  key: Rekordy
  order: 1
---

<h1>Rekordy</h1>

<ul class="categories">
	<li><a href="cadets">Kadeci</a></li>
	<li><a href="juniors">Juniorzy</a></li>
	<li><a href="overallrecords">Rekordy ogólne</a></li>
	<li><a href="50+">Mastersi</a></li>
</ul>