---
title: Rekordy ogólne
translationKey: overallrecords
eleventyNavigation:
  key: Rekordy ogólne
  parent: Rekordy
---

<ul class="categories">
	<li><a href="../men/overall/">Mężczyźni</a></li>
	<li><a href="../women/overall/">Kobiety</a></li>
	<li><a href="../mixed/overall/">Drużyny mieszane</a></li>
</ul>
